/*for 3d rotation*/
.container {
    height: 680px;
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    border: 0px solid red;
    height: 680px;
    width: 680px;
    position: absolute;
}